<!DOCTYPE html>
<html>
<head>
    <title>Mini Social Media</title>
</head>
<body>

<h1>Mini Social Media App</h1>

<a href="/register">Register</a>
<a href="/login">Login</a>

<hr>

<h2>Create Post</h2>

<form action="/create-post" method="POST">

    <textarea
        name="content"
        rows="5"
        cols="50"
        placeholder="What's on your mind?"
        required
    ></textarea>

    <br><br>

    <button type="submit">
        Create Post
    </button>

</form>

<hr>

<h2>Posts Feed</h2>

<div>
    <h3>Ronak</h3>
    <p>Hello World 🌎</p>

    <button>❤️ Like</button>
    <button>💬 Comment</button>
</div>

</body>
</html>